{% extends "index/index_base.html" %}
{% load static %}

{% block page_title %} 
    Inicio    
{% endblock %}

{% block title %} 
    Dashboard
{% endblock %}

{% block name %} 
    pagina principal
{% endblock %}

{% block content %}

    <div class="text-center py-5 bg-dark text-white shadow-sm rounded-4">
        <h1 class="display-4">Bienvenido al Gestor de Productos</h1>
        <p class="lead">Administra, organiza y controla tu inventario de manera eficiente.</p>
    </div>
    <div class="row mt-5">
        <!-- Tarjeta Ver Productos -->
        <div class="col-md-6 mb-3">
            <div class="card text-center shadow-sm rounded-4">
                <div class="card-body bg-white text-dark rounded-top-4">
                    <h5 class="card-title">Ver Productos</h5>
                    <p class="card-text">Explora tu lista de productos.</p>
                    <a href="{% url 'products:product_list' %}" class="btn btn-outline-primary rounded-3">Ver</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta Ver Usuarios -->
        <div class="col-md-6 mb-3">
            <div class="card text-center shadow-sm rounded-4">
                <div class="card-body bg-white text-dark rounded-top-4">
                    <h5 class="card-title">Ver Usuarios</h5>
                    <p class="card-text">Explora nuestra lista de usuarios.</p>
                    <a href="{% url 'users:user_list' %}" class="btn btn-outline-primary rounded-3">Ver</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta Agregar Producto -->
        <div class="col-md-6 mb-3">
            <div class="card text-center shadow-sm rounded-4">
                <div class="card-body bg-white text-dark rounded-top-4">
                    <h5 class="card-title">Agregar Producto</h5>
                    <p class="card-text">Añade nuevos productos al inventario.</p>
                    <a href="{% url 'products:product_form' %}" class="btn btn-outline-success rounded-3">Agregar</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta Agregar Usuario -->
        <div class="col-md-6 mb-3">
            <div class="card text-center shadow-sm rounded-4">
                <div class="card-body bg-white text-dark rounded-top-4">
                    <h5 class="card-title">Agregar Usuario</h5>
                    <p class="card-text">Añade nuevos usuarios al inventario.</p>
                    <a href="{% url 'users:user_form' %}" class="btn btn-outline-success rounded-3">Agregar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}