{% extends "index/index_base.html" %}
{% load static %}

{% block page_title %} 
    Inicio    
{% endblock %}

{% block title %} 
    Dashboard
{% endblock %}

{% block name %} 
    pagina principal
{% endblock %}

{% block content %}
    <div class="card card-body h-100">
        <div class="  ">
            <div class="text-center py-5 bg-light">
                <h1 class="display-4">Bienvenido al Gestor de Productos</h1>
                <p class="lead">Administra, organiza y controla tu inventario de manera eficiente.</p>
            </div>
            <div class=" ">
                <div class="row justify-content-center py-4">
                    <div class="col-md-3 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Ver Productos</h5>
                                <p class="card-text">Explora tu lista de productos.</p>
                                <a href="" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Agregar Producto</h5>
                                <p class="card-text">Añade nuevos productos al inventario.</p>
                                <a href="" class="btn btn-success">Agregar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Reportes</h5>
                                <p class="card-text">Genera reportes de inventario.</p>
                                <a href="" class="btn btn-info">Ir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            
        </div>
    </div>
{% endblock %}