{% extends "products/base.html" %}

{% load static %}

{% block page_title %}
Productos
{% endblock %}

{% block title %}
Productos
{% endblock %}

{% block header %}
<span class="ms-2">Productos</span>
{% endblock %}

{% block content %}

<div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between p-3">
        <div class="card-title">Productos</div>
        <div class="card-toolbar"><button class="btn btn-primary btn-sm">Registrar Producto</button></div>
    </div>
    <div class="card-body" style="height: 600px; overflow-y: auto;">
        
    </div>

    <div class="card-footer p-4"></div>
</div>

{% endblock %}
